$card-padding: 30px;

.card {
  padding: $card-padding;
  position: relative;
  &__inner {
    padding-top: 100%;
    background-color: palette(brand, everSoSlightlyLighterBlue);
    background-color: orange;
    position: relative;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      height: 100%;
      width: 100%;
      background: url('./img/trim-card.svg') no-repeat center;
      background-size: 95%;
    }

    &--half {
      padding-top: 50%;
    }
  }
}
