//== Colors
//
//============================================

// Color palettes
$palettes: (
  default: (
    white: #fff,
    black: #000,
  ),
  brand: (
    darkBlue: #060914,
    everSoSlightlyLighterBlue: #070c1d,
    lightBlue: #111D46,
    gold: #FFD89D,
    yellow: #ffec48,
    purple: #9545ff
  ),
  utility: (
    boxShadow: #444444
  )
);
