<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/main.css">
  <script src="./assets/js/gsap.min.js"></script>
  <script src="./assets/js/CSSRulePlugin.min.js"></script>
  <script src="./assets/js/CustomEase.min.js"></script>
  <script src="./assets/js/EasePack.min.js"></script>
  <script src="./assets/js/three.min.js"></script>
</head>

<body>
  <main class="page-wrapper">
    <div class="wrapper">
      <div class="container container--padding">
        <span class="trim"></span>
        <div class="logo">
            <a href="/"><img src="./assets/img/logo.svg" alt=""></a>
        </div>
        <div id="app">
        </div>
        <div class="row center-xs row--cards">
          <div class="col-xs-12 col-sm-6 col-md-4 card" data-card-number="1">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card" data-card-number="2">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 card">
            <div class="card__inner"></div>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-6 card">
              <div class="card__inner card__inner--half"></div>
            </div>
        </div>
        <span class="trim trim--bottom"></span>
      </div>
    </div>

    <div id='grid'>
      <div class='item item-1'></div>
      <div class='item item-2'></div>
      <div class='item item-3'></div>
      <div class='item item-4'></div>
    </div>
    <div id="js-scene" class="scene">
      <div class="scene__inner scene__inner--front"></div>
      <div class="scene__inner scene__inner--back">
          <div class='item item-1'></div>
      </div>
    </div>
  </main>
  <script src="./assets/js/main.js"></script>
</body>

</html>
